%ul.errors
  - @post.errors.full_messages.each do |e|
    %li= e

%form.post(action='/posts' method='post')
  %dl
    %dt Title
    %dd
      %input(name='post[title]' type='text'){:value => @post.title}
    %dt Content
    %dd
      %textarea(name='post[content]')!= @post.content

  %input(type='submit' value='Post')
